dsc-shrink/dsc-shrink-files
tests/test_nonparam_cache
package/ashr/src/*.o
package/ashr/src/*.so
.Rhistory
*.html
*.RData
*.Rout
*.png
locfdr*.gz
mixfdr*.gz
scratchwork/*.md
talks/*.md
examples/*.md
tests/*.md
paper/main.bbl
paper/main.dvi
paper/main.blg
paper/main.log
paper/Rcode/figures/*.pdf
paper/main.aux
package/*.Rcheck
scratchwork/*cache
talks/*cache
talks/*.md
Rcode/*cache
paper/Rcode/*cache
Rcode/figure
.Rproj.user
